<!DOCTYPE html>
<html>
<head>
    <title>Lab 10</title>
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Proxima+Nova" type="text/css">
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
</head>
<body>
<table>
    <form action="/edit" method="post">
        <tr>
            <td>ID</td>
            <td><%= unique_id %></td>
            <input type="number" name="id" value="<%= unique_id %>" style="display:none;">

        </tr>
        <tr>
            <td>First Name</td>
            <td><input type="text" name="FirstName"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" name="LastName"></td>
        </tr>
        <tr>
            <td>DOB (enter as YYYY-MO-DAY)</td>
            <td><input type="date" name="dob"></td>
        </tr>
        <tr>
            <td>DOD (enter as YYYY-MO-DAY)</td>
            <td><input type="date" name="dod"></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><select>
                    <option value="">Select One</option>
                    <option value="f">Female</option>
                    <option value="m">Male</option>
                    <option value="na">Non-Other</option>
                </select></td>
        </tr>
    </form>
    </tr><td><button onclick="window.location.href='/'">Cancel</button> <button onclick="window.location.href='/'">Save</button></td>


</table>
<script>

</script>